form{
  padding: 2rem;
  background-color: #2F8F5B;
  margin: 2rem;
}

.form-row{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem 0;
}

.input{
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.input label{
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: -0.9rem;
  font-size: 0.6rem;
  word-spacing: -1px;
}
.input input{
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border: #ccc 2px solid;
  outline: none;
  color: #eee;

}

button{
  padding: 0.5rem;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}
button:hover{
    background-color: #eee;
}
