<div [class]="{
  status : true,
  'status-offline': status() === 'offline',
  'status-online': status() === 'online',
  'status-unknown': status() !== 'offline' && status() !== 'online'
}">
  @if (status() === 'online') {
    <p>Servers are online</p> 
    <p>All systems are operational.</p>
  } @else if (status() === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
  } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
  }
</div>
