<app-header></app-header>
<main class="!py-[20px] flex gap-4 !m-auto w-[80%]">
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user
          [selected]="user.id === selectedUser?.id"
          [user]="user"
          (selectUser)="onSelectUser($event)"
        />
      </li>
    }
  </ul>

  <!-- Tasks  -->
  <!-- Make it dashboard section appear all tasks count and userTask count -->
  <section class="task1 m-auto text-center flex gap-4 flex-col text-white">
    <button class="bg-orange-700 !px-[10px] !py-[30px] border rounded">
      Tasks Count : {{ tasksCount() }}
    </button>
    <button class="bg-orange-700 !px-[10px] !py-[30px] border rounded">
      {{ getSelecteUserName(selectedUser?.id || '') }} Tasks Count : {{ userTasksCount() }}
    </button>
  </section>
  <div class="w-full !p-[20px] text-center">
    @if (selectedUser) {
      <app-user-tasks [user]="selectedUser"></app-user-tasks>
    } @else {
      <p class="text-white text-2xl text-center">Select a User to see their tasks!</p>
    }
  </div>
</main>
